body{
    background-image: url("./images/background.jpg");
}

header{
    background-color: aliceblue;
    height: 10vh;
    display: flex;
    align-items: center;
}

.namediv > p{
    font-size: large;
}

.namediv{
    background-color: rgb(21, 114, 75);
    width: 50%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    color: white;
}

a{
    text-decoration: none;
    color: grey;
}

.links{
    margin-left: 60vw;
    display: flex;
}

/* ABOUT */


.card{
    margin-top: 1vw;
    margin-left: 2.5vw;
    display: inline-block;
    position: relative;
    width: 40%;
}

.card img{
    width: 100%;
}

.projectName{
    width: 100%;
    height: 25px;
    font-size: 1.5  vw;
    position: absolute;
    bottom: 7px;
    text-align: center;
    background-color: rgb(21, 114, 75);;
    color: white;
}

/* img{
    width: 10vw;
    height: auto;
} */

/* .portfolio > img{
    height: auto;
    margin-left: 2.5vw;
    margin-top: 1vw;
} */

.portfolio > h1{
    margin-left: 2.5vw;
}

.body{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    border: 1px solid red;
}

.about > h1{
    color: rgb(21, 114, 75);
    margin-left: 2.5vw;
}

hr{
    width: 40vw;
}

.portfolio{
    background-color: aliceblue;
    width: 60%;
    display: inline-block;
    height: 100%;
}

p{
    text-align: justify;
}

/* CONNECT */

.connect{
    display: inline-block;
    background-color: aliceblue;
    width: 30%;
    height: 50%;
}

.connect > h2{
    color:rgb(21, 114, 75);
    margin-left: 2.5vw;
    font-size: 1em;
}

.connect > hr{
    color: grey;
    width: 100%;
}

.social{
    width: 40%;
    /* height: 40%; */
}

.socials{
    display: flex;
    justify-content: space-between;
}

#stack{
    width: 3.7vw;
}

/* FOOTER */

/* footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
    margin-top: 1vw;
    background-color: rgb(71, 70, 70);
    color: white;
}  */



/* MEDIA QUERIES */

/* @media (min-width: 500px) {
    .socials{
        justify-content: row;
    }
} */

@media (max-width: 400px) {
    .body{
        flex-direction: column;
    }

    .namediv{
        width: 50%;
    }
    .portfolio{
        width: 100%;
    }
    
    .card{
        width: 100%;
    }
    .card img{
        width: 100%;
    }

    .projectName{
        width: 100%;
    }

    .links{
        display: block;
        margin-top: 10px;
    }

    .connect{
        width: 100%;
        margin-top: 10vw;
        height: 40%;
    }

    hr{
        width: 100%;
    }

    .connect img{
        width: 30%;
        height: auto;
    }

    #stack{
        width: 20%;
    }

    .socials{
        display: flex;
        justify-content: space-between;
    }
}