body{
  background-image: url("./images/background.jpg");
}

/*===================
      Header
====================*/

header{
  background-color: aliceblue;
  height: 10vh;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.namediv{
  background-color: rgb(21, 114, 75);
  width: 13rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  /* margin-left: 8.5rem; */
  color: white;
  font-size: large;
}

.links{
  margin-right: 10vw;
}

nav ul{
  display: flex;
}

a{
  text-decoration: none;
  color: grey;
}

/*===================
      Main
====================*/

.main{
  height: 75vh;
  width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0 0 150px;
}

.main-1{
  width: 650px;
  background-color: #FFF;
}

.main::after{
  clear: both;
}

.main-1 h1{
  margin-left: 25px;
  color: rgb(21, 114, 75);
  font-size: 2rem;
}

.main-1 img{
  width: 30%;
  float: left;
  margin-left: 25px;
}

.main-1 p{
  margin-left: 10px;
}

/*===================
      Main-2
====================*/

.main-2{
  background-color: #FFF;
  width: 270px;
  height: 100px;
}

.main-2 h2{
  margin-left: 25px;
  color: rgb(21, 114, 75);
  font-size: 2rem;
}

.socials{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.socials img{
  width: 50%;
}


/*===================
      Footer
====================*/


footer{
  background-color: rgb(46, 46, 46);
  color: #FFF;
}

.footer{
  background-color: rgb(46, 46, 46);
  border:10px 0 0 0 solid rgb(21, 114, 75);
  height: 10vh;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
