body{
    background-image: url("./images/background.jpg");
}

header{
    background-color: aliceblue;
    height: 10vh;
}

.namediv{
    background-color: rgb(21, 114, 75);
    width: 13vw;
    height: 10vh;
    text-align: center;
    display: inline-block;
    margin-left: 10vw;
    color: white;
}
a{
    text-decoration: none;
    color: grey;
}

.links{
    margin-left: 60vw;
    display: inline-block;
}

.about > h1{
    color: rgb(21, 114, 75);
    margin-left: 2.5vw;
}

hr{
    width: 40vw;
}
.about{
    background-color: aliceblue;
    width: 45vw;
    display: inline-block;
    height: 70vh;
    margin-left: 10vw;
    margin-top: 1vw;
}

#profile{
    width: auto;
    height: 10vw;
    margin-left: 2.5vw;
    margin-right: 1vw;
    float: left;
}

p{
    text-align: justify;
    margin-left: 2.5vw;
    margin-right: 2vw;
}

.connect{
    display: inline-block;
    position: absolute;
    top: 6vw;
    right: 20vw;
    background-color: aliceblue;
    width: 20vw;
    height: 10vw;
}

.connect > h2{
    color:rgb(21, 114, 75);
    margin-left: 2.5vw;
}

.connect > hr{
    color: grey;
    width: 15vw;
}

.social{
    width: auto;
    height: 2.5vw;
    margin-left: 2.5vw;
}

#stack{
    width: 3.7vw;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
    margin-top: 1vw;
    background-color: rgb(71, 70, 70);
    color: white;
}

.footer{
    background-color: rgb(21, 114, 75);
    width: 100%;
    height: 1vh;
    margin-top: 2.5vw;
}

.namediv > p{
    font-size: large;
}