body{
    background-image: url("./images/background.jpg");
}

header{
    background-color: aliceblue;
    height: 10vh;
}

.namediv{
    background-color: rgb(21, 114, 75);
    width: 13vw;
    height: 10vh;
    text-align: center;
    display: inline-block;
    margin-left: 10vw;
    color: white;
}

a{
    text-decoration: none;
    color: grey;
}

.links{
    margin-left: 60vw;
    display: inline-block;
}

.contact > h1{
    color: rgb(21, 114, 75);
    margin-left: 2.5vw;
}

hr{
    width: 40vw;
}
.contact{
    background-color: aliceblue;
    width: 45vw;
    display: inline-block;
    height: 75vh;
    margin-left: 10vw;
    margin-top: 1vw;
}

p{
    text-align: justify;
    margin-left: 2.5vw;
    margin-right: 2vw;
}

.connect{
    display: inline-block;
    position: absolute;
    top: 6vw;
    right: 20vw;
    background-color: aliceblue;
    width: 20vw;
    height: 10vw;
}

.connect > h2{
    color:rgb(21, 114, 75);
    margin-left: 2.5vw;
}

.connect > hr{
    color: grey;
    width: 15vw;
}

.social{
    width: auto;
    height: 2.5vw;
    margin-left: 2.5vw;
}

#stack{
    width: 3.7vw;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
    margin-top: 1vw;
    background-color: rgb(71, 70, 70);
    color: white;
}
/* rgb(21, 114, 75); */
.footer{
    background-color: rgb(21, 114, 75);
    width: 100%;
    height: 1vh;
    margin-top: 2.5vw;
}

.namediv > p{
    font-size: large;
}

form{
    margin-left: 2.5vw;;
}

input{
    display: block;
    width: 50%;
}

textarea{
    display: block;
}

label{
    color: rgb(66, 64, 64);
    display: block;
}

button{
    background-color: rgb(21, 114, 75);
    margin-top: 1vw;
    margin-left: 2.5vw;
    width: 5vw;
    height: 5vh;
    color: white;
    border: 0px solid white;
    text-align: center;
    cursor: pointer;
}

.fields{
    display: block;
    margin-top: 1vw;
}